/* Brenna Curtis */
@charset "uft-8";
/* CSS Document */
 body{
   color: green;
   font-family: "Georgia Serif", Georgia, serif;
   line-height: 1.4;
   margin: 30px;
   background-color: #F7F3DE;
 }
