/* Brenna Curtis */
@charset "uft-8";
/* CSS Document */

 body{
   color: green;
   font-family: "Georgia Serif", Georgia, serif;
   line-height: 1.4;
   margin: 30px;
   background-image: url("page-bg.gif");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: #F7F3DE;
 }

header h1{
  font-size: 350%;
  color: "#7C1A00";
  padding: 40px 40px 40px 120px;
  background-image: url("header-image01.gif");
  background-repeat: no-repeat;
